// Variables

//Colors for the Theme

$theme-primary:    #37424c;
$theme-secondary:    #2c69a0;

$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%); // #222
$gray-dark:        lighten($gray-base, 20%);   // #333
$gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 93.5%); // #eee


//Fonts for Theme

$font-stack-body: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-stack-header: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
